{{define "article-meta"}}
  <p class="blog-post-meta text-secondary">
    发布于：<a href="" class="font-weight-bold">{{ .CreateAtDate }}</a>&nbsp;
    作者：<a href="#" class="font-weight-bold">{{ .User.Name }}</a>
  </p>
{{ end }}